.channel__rec {
	display: block;
	margin: 0;
	margin-left: 20px;
	font-family: "Mulish";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #c2c2c2;
}

.channel__follow-btn {
	display: block;
	width: 155px;
	margin: 0;
	margin-left: auto;
	padding: 10px;
	border: none;
	background: #ff0000;
	border-radius: 20px;
	font-family: "Mulish";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
}
